.selections {
  max-height: 310px;
  overflow-y: scroll;
}

.selections + .btn.confirm {
  float: right;
  margin: 10px -5px -4px 0 !important;
}

.selections .title {
  padding-bottom: 5px;
}

.selections .input {
  margin: 0px;
  margin-bottom: 10px;
  padding-right: 15px;
}
