.delete.close {
  float: left;
  margin-left: 1px;
}

.delete.close.outer {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.delete.close.inner {
  background-color: #767676;
  width: 14px;
  height: 16px;
  padding-right: 1px;
}

.delete.close.inner:hover {
  background-color: #505050;
}
