.custom-viewport-sizes {
  max-height: 100px;
  overflow-y: auto;
}

.custom-viewport-sizes .header {
  padding-bottom: 30px;
}

.custom-viewport-sizes .header .title {
  float: left;
  padding-right: 7px;
}

.custom-viewport-sizes .header .add {
  float: left;
}

.btn.confirm {
  float: right;
  margin-top: 10px;
  margin-right: 24px;
}
