.banner {
    display: flex;
    align-items: center;
    color: #f1f1f1;
    font-size: 14px;
    padding: 0 20px;
    min-height: 75px;
}

.banner > span {
    margin: 0 5px;
}

.banner > span:last-child {
    font-weight: bold;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {
    flex-shrink: 0;
    margin: 60px auto;
    font-size: 3px;
    position: relative;
    text-indent: -9999em;
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    border-top: 1.1em solid rgba(0, 0, 0, 0.3);
    border-right: 1.1em solid rgba(0, 0, 0, 0.3);
    border-bottom: 1.1em solid rgba(0, 0, 0, 0.3);
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.banner.success, .banner.setup {
    background-color: #40A6FF;
}

.banner.error {
    background-color: #FF5F7B;
}

.loader.stopped {
    border: 1.1em solid rgba(0, 0, 0, 0.3);
}
