.add.outer {
  border: 1px solid #a2a2a2;
  border-radius: 2px;
  width: 11px;
  height: 11px;
  cursor: pointer;
  margin-top: 2px;
}

.add.inner {
  background-color: #767676;
  width: 11px;
  height: 11px;
}

.add.outer.selected,
.add.outer:hover {
  border: 1px solid transparent;
  background-color: #318ede;
}

.add.inner.selected,
.add.outer:hover .add.inner {
  background-color: #ffffff;
}
