html,
body {
  width: 320px;
  overflow: hidden;
}

.container {
  overflow-y: auto;
  max-height: 500px;
  padding: 10px 18px 0px 18px;
}

hr {
  height: 0;
  border: 0;
  border-top: 1px solid #cdcdcd;
  margin: 10px 0;
}

h4 {
  margin: 1em 0;
}
